<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings/>
	<connectionStrings>
  <add name="mustafaConnectionString" connectionString="Data Source=.;Initial Catalog=pubs;Persist Security Info=True;User ID=sa"
   providerName="System.Data.SqlClient" />
  <add name="mustafaConnectionString2" connectionString="Data Source=.;Initial Catalog=pubs;Persist Security Info=True;User ID=sa"
   providerName="System.Data.SqlClient" />
  <add name="mustafaConnectionString3" connectionString="Data Source=.;Initial Catalog=pubs;Persist Security Info=True;User ID=sa"
   providerName="System.Data.SqlClient" />
  <add name="mustafaConnectionString4" connectionString="Data Source=.;Initial Catalog=pubs;User ID=sa"
   providerName="System.Data.SqlClient" />
  <add name="mustafaConnectionString5" connectionString="Data Source=.;Initial Catalog=pubs;Persist Security Info=True;User ID=sa"
   providerName="System.Data.SqlClient" />
  <add name="mustafaConnectionString6" connectionString="Data Source=.;Initial Catalog=pubs;User ID=sa"
   providerName="System.Data.SqlClient" />
  <add name="pubsConnectionString" connectionString="Data Source=.;Initial Catalog=pubs;User ID=sa"
   providerName="System.Data.SqlClient" />
  <add name="pubsConnectionString2" connectionString="Data Source=.;Initial Catalog=pubs;User ID=sa"
   providerName="System.Data.SqlClient" />
  <add name="pubsConnectionString3" connectionString="Data Source=.;Initial Catalog=pubs;User ID=sa"
   providerName="System.Data.SqlClient" />
  <add name="pubsConnectionString4" connectionString="Data Source=.;Initial Catalog=pubs;User ID=sa"
   providerName="System.Data.SqlClient" />
  <add name="pubsConnectionString5" connectionString="Data Source=.;Initial Catalog=pubs;User ID=sa"
   providerName="System.Data.SqlClient" />
  <add name="pubsConnectionString6" connectionString="Data Source=.;Initial Catalog=pubs;User ID=sa"
   providerName="System.Data.SqlClient" />
  <add name="pubsConnectionString7" connectionString="Data Source=.;Initial Catalog=pubs;User ID=sa"
   providerName="System.Data.SqlClient" />
  <add name="pubsConnectionString8" connectionString="Data Source=.;Initial Catalog=pubs;User ID=sa"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
